label {
    padding: 0.5rem 1rem;    
    font: bold;
}
.text-input{
    display: flex;
    padding: 0.5rem 1rem;
    /* font-size: 1.25rem; */
    margin: 0.5rem 1rem;

    /* line-height: 1.5; */
    border-radius: 10px;
    border-color: purple;
}
.login-button{
    padding: 0.5rem 1rem;
    /* font-size: 1.25rem; */
    line-height: 1.5;
    border-radius: 100px;
    border-color: purple;
}


.home-btn{ 
    
    padding: 2px 7px;
    margin: 3px;
    border-width: 1px;
    border-style: outset;
    border-radius: 4px;
    font-size: 12px;
    background-color: #8246AF;
    color: white;   
    border: 1px solid #1a1919;
}

.home-btn:hover  {

    color: #8246AF;
    background-color: #d4a9f5;
}
