
.project-img {
   
    width:50%;
}

.intro-section-wrapper2{
    display: flex;
    justify-content: center;
    background-color:  #F4F1FA;
    
   
}

.intro-section-program{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: auto;
    padding: 2rem 0;
   
    align-items: center;
   
    gap: 3rem;
    width: 80%;
 
    
}

.program-section{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    

}
.program-details{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;

}
.language_wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 3px #c3b6b6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    z-index: 0;
    position: relative;
    /* margin: 2rem; */
    width: 50%;

}

.language_text{
    padding: 1.5rem;
    
}

.detail_wrapper{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.in_line{
    display: flex;
    gap: 0.5rem;
}

.p_lable{
    font-weight: bold;
}

